language: java
git:
  depth: false

addons:
  apt:
    packages:
      - docker-ce
services:
  - docker

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/

jobs:
  include:
    - stage: deploy
      script: skip
      deploy:
        provider: script
        skip_cleanup: true
        on:
          tags: true
        script: ./gradlew publishPlugins -Pgradle.publish.key=$GRADLE_PUBLISH_KEY -Pgradle.publish.secret=$GRADLE_PUBLISH_SECRET -x check

stages:
  - test
  - deploy

env:
  - GRADLE_INTEGRATION_TEST_VERSIONS=4.10,5.0,5.1 PUBLISH_SONAR=true
  - GRADLE_INTEGRATION_TEST_VERSIONS=5.1,5.2,5.3
  - GRADLE_INTEGRATION_TEST_VERSIONS=5.4,5.5,5.6

before_script:
  - 'bash -c "docker pull alfresco/alfresco-content-repository-community:6.0.7-ga& docker pull tomcat:7-jre8& docker pull hello-world& docker pull alpine:edge&"'

script:
  - >
    if [[ "$TRAVIS_PULL_REQUEST" == "false" ]]; then
      export SONAR_BRANCH="$TRAVIS_BRANCH";
    else
      export SONAR_BRANCH="$TRAVIS_PULL_REQUEST_BRANCH";
    fi;
    GRADLE_ARGS="check -i -PintegrationTestGradleVersions=$GRADLE_INTEGRATION_TEST_VERSIONS";
    if [[ "$PUBLISH_SONAR" == "true" && "$TRAVIS_SECURE_ENV_VARS" == "true" ]]; then
      GRADLE_ARGS="${GRADLE_ARGS} sonarqube -Dsonar.projectKey=xenit-eu_alfresco-docker-gradle-plugin -Dsonar.organization=xenit-eu -Dsonar.host.url=https://sonarcloud.io -Dsonar.login=$SONAR_TOKEN -Dsonar.branch.name=$SONAR_BRANCH"
    fi;
    ./gradlew $GRADLE_ARGS;

